@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'mixins';
@import 'forms';

// ---------------------------------------------------------
// Mixins & Variables
// ---------------------------------------------------------

// COLOURS
$dark-grey: #1C1C1C;
$primary: #D3402D;

// TRANSITIONS

@mixin fade {
  @include transition (all 0.15s ease-in-out);
}

@mixin fast-fade {
  @include transition (all 0.05s ease-in-out);
}




/* BASE
================================ */

body {
  font-family: Helvetica;
  color: $dark-grey;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $dark-grey;
}

/* SITE
================================ */

.site-wrap {
  @include outer-container;
  width: 45em;
}

.site-header {
  @include clearfix;
  margin-top: 2em;
  border-bottom: 4px solid $primary;
  h1 {
    float: left;
    width: 50%;
  }
  .add-new-track {
    float: right;
    display: block;
    background: $primary;
    padding: 0.6em 1em;
    color: #fff;
    border-radius: 4px;
    margin-top: 1.3em;
  }
}

.site-content {
  margin: 2em auto 4em;
}

/* TEXT
================================ */

// Use the class text on any container specifically for textual content

.text {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  ul {

  }

  ol {

  }

  blockquote {

  }
}


/* TRACK LIST
================================ */

.track-list {
  list-style-type: none;
  padding: 0;
}

.track {
  margin-bottom: 1em;
}

.track-title {
  margin: 0;
}

.artist-name {
  margin: 0.5em 0 0 0;
}


/* FORMS
================================ */

.new-song-form {
  
}

